/* ------ Global styles ------ */

@font-face {
  font-family: 'TR2N';
  src: url('../fonts/tr2n/webfont/tr2n-webfont.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ds-digital';
  src: url('../fonts/ds_digital/webfont/ds-digi-webfont.woff') format('woff');
  font-weight: normal;
}

* {
  color: white;
}

body {
  background-color: black;
}


.main-container {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #8ef0fe;
  padding: 0.5em;
  text-align: center;
  margin: 0 auto;
}





/* ------ Scoreboard ------ */

header h1 {
  /* border: 1px solid #8ef0fe; */
  text-align: center;
  color: #8ef0fe;
  font-size: 4em;
  font-family: 'TR2N', sans-serif;
  padding-top: 0.2em;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.player-container {
  /* padding: 0.5em 0em; */
}

.player1-score {
  text-align: left;
}
.player2-score {
  text-align: right;
}

.score {
  border: 1px solid #8ef0fe;
  padding: 0.5em;
}

.score span{
  color: #8ef0fe;
  font-family: 'ds-digital';
  font-size: 4em;
  color: #8ef0fe;
}

.player-name-container {
  border: 1px solid #f8d634;
  padding: 0.5em;
  margin: 0.5em 0em;
}

.player-name-container h3 {
  display: inline-block;
  font-size: 0.8em;
}

.player-name-container span {
  border: 1px solid #f8d634;
  padding: 0.2em;
}

.draw-container {

}

.draw-container h3 {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.game-status-container {
  height: 1.5em;
}

/* ------ Game ------ */

.game-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vw;
  vertical-align: center;
}

.game-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  font-family: 'TR2N', sans-serif;
  font-size: 6em;
  border: 1px solid #8ef0fe;
}

.game-container div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.neon-blue {
  color: #8ef0fe;
  animation: neon-blue 1.5s ease-in-out infinite alternate;
}
.neon-orange {
  color: #f8d634;
  animation: neon-orange 1.5s ease-in-out infinite alternate;
}


/* ------ Adjustable sizes ------ */

.three div {
  width: 33.3%;
  height: 33.3%;
  font-size: 5.5em;
}


.four div {
  width: 25%;
  height: 25%;
  font-size: 4em;
}

.five div {
  width: 20%;
  height: 20%;
  font-size: 3.5em;
}

.six div {
  width: 16.6%;
  height: 16.6%;
  font-size: 2.5em;
}


/* ------ Settings ------ */

.settings-container {
  display: block;
  font-size: 1.5em;
}

.settings-container p {
  color: #8ef0fe;
}

.config-btn {
  background: white;
  color: black;
  padding: 0.4em 0.8em;
  font-size: 1em;
  margin: 0.5em 0;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  height: 2.5em;
  width: 2.5em;
}

form label {
  display: flex;
  align-items: center;
  margin: 0.2em;
  color: #8ef0fe;
}

/* ------ Interactive ------ */
.play-again-end-btn {
  border-radius: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3em;
  text-decoration: none;
  font-size: 2em;
  font-family: 'ds-digital';
  background-color: #f8d634;
  color: black;
  border: black 2px solid;
  box-shadow:  0px 15px 20px rgba(46, 229, 157, 0.5)
}


.hidden {
  display: none;
}


/* ------ Media queries ------ */
@media only screen and (max-width: 30em) {
  header h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 45em) {
  .main-container {
    width: 70vw;
  }
  .game-container {
    height: 70vw;
  }
}

@media only screen and (min-width: 55em) {
  .main-container {
    width: 35vw;
  }
  .game-container {
    height: 35vw;
  }
}





/* ------ animations ------ */

@keyframes neon-blue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon-orange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f8d634, 0 0 70px #f8d634, 0 0 80px #f8d634, 0 0 100px #f8d634, 0 0 150px #f8d634;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f8d634, 0 0 35px #f8d634, 0 0 40px #f8d634, 0 0 50px #f8d634, 0 0 75px #f8d634;
  }
}